Flask
gensim
h5py
matplotlib
mlflow
numpy
pandas
requests
scikit-learn
scipy
seaborn
spacy
nltk
streamlit
tensorboard
tqdm
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
textblob
